# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
xcuserdata/

# Android
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Screenshots (optional)
screenshots/
